<footer class="main">
    <div class="container">
        <div class="row">
            <span class="content">
                <span class="item1">
                <p class="text">2023@velzon.</p>
                </span>
                <span class="item1">
                    <p class="text">Designed & Devolop by Themsbrand</p>
                </span>
            </span>
            <div class="setting">
                <span class="material-icons-round setting-icon">
                    settings
                    </span>
                </div>
        </div>
    </div>
</footer>
