<section class="sidebar">
    <aside class="container" aria-label="">
        <aside class="brand-area " aria-label="">
            <div class="brand ">
                <img src="../../../../../assets/images/logo-small.png" alt="" class="small-logo">
                <img src="../../../../../assets/images/logo-light.png" alt="" class="brand-name">
            </div>
        </aside>

        <div class="contents">
            <span class="heading-content ">
                <h2 class="menu-text">MENU</h2>

            </span>

            <div class="dropdown">
                <input type="checkbox" id="toggle-list1" class="toggle-checkbox">
                <label for="toggle-list1">
                    <span class="dashboard-text-area ">
                        <span class="dashbrd-text d-flex align-center">
                            <span class="material-icons-round dashbrd-icon">
                                auto_mode
                            </span>
                            <h3 class="dashboard-h3">Dashboards</h3>
                        </span>
                        <span class="material-icons-round down-arrow">
                            expand_more
                        </span>
                    </span>
                </label>
                <ul id="list1" class="list">
                    <li class="content-items d-flex active"><span class="material-icons-round list-icon">
                            minimize
                        </span><a href="" class="content-a d-flex">Analytics</a></li>
                    <li class="content-items d-flex active"><span class="material-icons-round list-icon">
                            minimize
                        </span><a href="" class="content-a d-flex">CRM</a></li>
                    <li class="content-items d-flex active"><span class="material-icons-round list-icon">
                            minimize
                        </span><a href="" class="content-a d-flex">Ecommerce</a></li>
                    <li class="content-items d-flex active"><span class="material-icons-round list-icon">
                            minimize
                        </span><a href="" class="content-a d-flex">Crypto</a></li>
                    <li class="content-items d-flex active"><span class="material-icons-round list-icon">
                            minimize
                        </span><a href="" class="content-a d-flex">Projects</a></li>
                    <li class="content-items d-flex active"><span class="material-icons-round list-icon">
                            minimize
                        </span><a href="" class="content-a d-flex">NFT</a></li>
                    <li class="content-items d-flex"><span class="material-icons-round list-icon">
                            minimize
                        </span><a href="" class="content-a">Job</a>
                        <span class="new-text" style="margin-left: 9rem; background-color: #06d5d5;">
                            <h6 class="text-new">New</h6>
                        </span>

                    </li>
                </ul>
            </div>

            <div class="dropdown">
                <input type="checkbox" id="toggle-list2" class="toggle-checkbox">
                <label for="toggle-list2">
                    <span class="dashboard-text-area ">
                        <span class="dashbrd-text d-flex align-center">
                            <span class="material-icons-round dashbrd-icon">
                                apps
                                </span>
                            <h3 class="dashboard-h3">Apps</h3>
                        </span>
                        <span class="material-icons-round down-arrow">
                            expand_more
                        </span>
                    </span>
                </label>
                <ul id="list2" class="list">
                    <li class="content-items d-flex active"><span class="material-icons-round list-icon">
                            minimize
                        </span><a href="" class="content-a d-flex">calendar</a></li>
                    <li class="content-items d-flex active"><span class="material-icons-round list-icon">
                            minimize
                        </span><a href="" class="content-a d-flex">Chat</a></li>
                    <li class="content-items d-flex active"><span class="material-icons-round list-icon">
                            minimize
                        </span><a href="" class="content-a d-flex">Email</a></li>
                    <li class="content-items d-flex active"><span class="material-icons-round list-icon">
                            minimize
                        </span><p href="" class="content-a d-flex" onclick="EcommerceClick()">Ecommerce</p></li>
                    <li class="content-items d-flex active"><span class="material-icons-round list-icon">
                            minimize
                        </span><a href="" class="content-a d-flex">Projects</a></li>
                    <li class="content-items d-flex active"><span class="material-icons-round list-icon">
                            minimize
                        </span><a href="" class="content-a d-flex">Tasks</a></li>
                    <li class="content-items d-flex active"><span class="material-icons-round list-icon">
                            minimize
                        </span><a href="" class="content-a d-flex">CRM</a></li>
                    <li class="content-items d-flex active"><span class="material-icons-round list-icon">
                            minimize
                        </span><a href="" class="content-a d-flex">Crypto</a></li>
                    <li class="content-items d-flex active"><span class="material-icons-round list-icon">
                            minimize
                        </span><a href="" class="content-a d-flex">Invoices</a></li>
                    <li class="content-items d-flex active"><span class="material-icons-round list-icon">
                            minimize
                        </span><a href="" class="content-a d-flex">Support Tickets</a></li>
                    <li class="content-items d-flex active"><span class="material-icons-round list-icon">
                            minimize
                        </span><a href="" class="content-a d-flex">NFT Marketplace</a></li>
                    <li class="content-items d-flex active"><span class="material-icons-round list-icon">
                            minimize
                        </span><a href="" class="content-a d-flex">File Manager</a></li>
                    <li class="content-items d-flex active"><span class="material-icons-round list-icon">
                            minimize
                        </span><a href="" class="content-a d-flex">TO DO</a></li>
                    <li class="content-items d-flex"><span class="material-icons-round list-icon">
                            minimize
                        </span><a href="" class="content-a">Jobs</a>
                        <span class="new-text" style="margin-left: 8.8rem; background-color: #06d5d5;">
                            <h6 class="text-new">New</h6>
                        </span>

                    </li>
                    <li class="content-items d-flex"><span class="material-icons-round list-icon">
                            minimize
                        </span><a href="" class="content-a" style="white-space: nowrap; ">API Key</a>
                        <span class="new-text" style="margin-left: 7rem;  background-color: #06d5d5;">
                            <h6 class="text-new">New</h6>
                        </span>

                    </li>
                </ul>
            </div>



            <div class="dropdown">
                <input type="checkbox" id="toggle-list3" class="toggle-checkbox">
                <label for="toggle-list3">
                    <span class="dashboard-text-area ">
                        <span class="dashbrd-text d-flex align-center">
                            <span class="material-icons-round dashbrd-icon">
                                space_dashboard
                                </span>
                            <h3 class="dashboard-h3">Layouts</h3>
                        </span>
                        <span class="new-text" style="margin-right:0.1rem; width: 2.3rem;">
                            <h6 class="text-new">Hot</h6>
                        </span>
                    </span>
                </label>
                <ul id="list3" class="list">
                    <li class="content-items d-flex active"><span class="material-icons-round list-icon">
                            minimize
                        </span><a href="" class="content-a d-flex">Horizontal</a></li>
                    <li class="content-items d-flex active"><span class="material-icons-round list-icon">
                            minimize
                        </span><a href="" class="content-a d-flex">Detached</a></li>
                    <li class="content-items d-flex active"><span class="material-icons-round list-icon">
                            minimize
                        </span><a href="" class="content-a d-flex">Two column</a></li>
                    <li class="content-items d-flex active"><span class="material-icons-round list-icon">
                            minimize
                        </span><a href="" class="content-a d-flex">Hoverd</a></li>
                </ul>
            </div>
        </div>

        <div class="contents">
            <span class="heading-content ">
                <h2 class="menu-text">PAGES</h2>

            </span>

            <div class="dropdown">
                <input type="checkbox" id="toggle-list4" class="toggle-checkbox">
                <label for="toggle-list4">
                    <span class="dashboard-text-area ">
                        <span class="dashbrd-text d-flex align-center">
                            <span class="material-icons-round dashbrd-icon">
                                account_circle
                                </span>
                            <h3 class="dashboard-h3">Authentication</h3>
                        </span>
                        <span class="material-icons-round down-arrow">
                            expand_more
                        </span>
                    </span>
                </label>
                <ul id="list4" class="list">
                    <li class="content-items d-flex active"><span class="material-icons-round list-icon">
                            minimize
                        </span><a href="" class="content-a d-flex">Sign In</a></li>
                    <li class="content-items d-flex active"><span class="material-icons-round list-icon">
                            minimize
                        </span><a href="" class="content-a d-flex">Sign Up</a></li>
                    <li class="content-items d-flex active"><span class="material-icons-round list-icon">
                            minimize
                        </span><a href="" class="content-a d-flex">Password Reset</a></li>
                    <li class="content-items d-flex active"><span class="material-icons-round list-icon">
                            minimize
                        </span><a href="" class="content-a d-flex">Password Create</a></li>
                    <li class="content-items d-flex active"><span class="material-icons-round list-icon">
                            minimize
                        </span><a href="" class="content-a d-flex">Lock Screen</a></li>
                    <li class="content-items d-flex active"><span class="material-icons-round list-icon">
                            minimize
                        </span><a href="" class="content-a d-flex">Logout</a></li>
                    <li class="content-items d-flex active"><span class="material-icons-round list-icon">
                            minimize
                        </span><a href="" class="content-a d-flex">Success Message</a></li>
                    <li class="content-items d-flex active"><span class="material-icons-round list-icon">
                            minimize
                        </span><a href="" class="content-a d-flex">Two Step Verification</a></li>
                    <li class="content-items d-flex active"><span class="material-icons-round list-icon">
                            minimize
                        </span><a href="" class="content-a d-flex">Errors</a></li>
                </ul>
            </div>

            <div class="dropdown">
                <input type="checkbox" id="toggle-list5" class="toggle-checkbox">
                <label for="toggle-list5">
                    <span class="dashboard-text-area ">
                        <span class="dashbrd-text d-flex align-center">
                            <span class="material-icons-round dashbrd-icon">
                                auto_stories
                                </span>
                            <h3 class="dashboard-h3">Pages</h3>
                        </span>
                        <span class="material-icons-round down-arrow">
                            expand_more
                        </span>
                    </span>
                </label>
                <ul id="list5" class="list">
                    <li class="content-items d-flex active"><span class="material-icons-round list-icon">
                            minimize
                        </span><a href="" class="content-a d-flex">Starter</a></li>
                    <li class="content-items d-flex active"><span class="material-icons-round list-icon">
                            minimize
                        </span><a href="" class="content-a d-flex">Profile</a></li>
                    <li class="content-items d-flex active"><span class="material-icons-round list-icon">
                            minimize
                        </span><a href="" class="content-a d-flex">Team</a></li>
                    <li class="content-items d-flex active"><span class="material-icons-round list-icon">
                            minimize
                        </span><a href="" class="content-a d-flex">Timeline</a></li>
                    <li class="content-items d-flex active"><span class="material-icons-round list-icon">
                            minimize
                        </span><a href="" class="content-a d-flex">FAQs</a></li>
                    <li class="content-items d-flex active"><span class="material-icons-round list-icon">
                            minimize
                        </span><a href="" class="content-a d-flex">Pricing</a></li>
                    <li class="content-items d-flex active"><span class="material-icons-round list-icon">
                            minimize
                        </span><p class="content-a d-flex" (click)="buttonClick()" >Gallery</p></li>
                    <li class="content-items d-flex active"><span class="material-icons-round list-icon">
                            minimize
                        </span><a href="" class="content-a d-flex">Maintenance</a></li>
                    <li class="content-items d-flex active"><span class="material-icons-round list-icon">
                            minimize
                        </span><a href="" class="content-a d-flex">Coming Soon</a></li>
                    <li class="content-items d-flex active"><span class="material-icons-round list-icon">
                            minimize
                        </span><a href="" class="content-a d-flex">Sitemap</a></li>
                    <li class="content-items d-flex active"><span class="material-icons-round list-icon">
                            minimize
                        </span><a href="" class="content-a d-flex">Search Results</a></li>
                    <li class="content-items d-flex"><span class="material-icons-round list-icon">
                            minimize
                        </span><a href="" class="content-a">Privacy POlicy</a>
                        <span class="new-text"
                            style="margin-left: 4rem; white-space: nowrap; background-color: #06d5d5;">
                            <h6 class="text-new">New</h6>
                        </span>

                    </li>

                    <li class="content-items d-flex"><span class="material-icons-round list-icon">
                            minimize
                        </span><a href="" class="content-a">Term & Conditions</a>
                        <span class="new-text"
                            style="margin-left: 2.2rem; white-space: nowrap; background-color: #06d5d5;">
                            <h6 class="text-new">New</h6>
                        </span>

                    </li>

                </ul>
            </div>



            <div class="dropdown">
                <input type="checkbox" id="toggle-list6" class="toggle-checkbox">
                <label for="toggle-list6">
                    <span class="dashboard-text-area ">
                        <span class="dashbrd-text d-flex align-center">
                            <span class="material-icons-round dashbrd-icon">
                                rocket
                                </span>
                            <h3 class="dashboard-h3">Landing</h3>
                        </span>
                        <span class="material-icons-round down-arrow">
                            expand_more
                        </span>
                    </span>
                </label>
                <ul id="list6" class="list">
                    <li class="content-items d-flex active"><span class="material-icons-round list-icon">
                            minimize
                        </span><a href="" class="content-a d-flex"> One Page</a></li>
                    <li class="content-items d-flex active"><span class="material-icons-round list-icon">
                            minimize
                        </span><a href="" class="content-a d-flex">NFT Landing</a></li>
                    <li class="content-items d-flex"><span class="material-icons-round list-icon">
                            minimize
                        </span><a href="" class="content-a">Job</a>
                        <span class="new-text" style="margin-left: 9rem; background-color: #06d5d5;">
                            <h6 class="text-new">New</h6>
                        </span>

                    </li>

                </ul>
            </div>
        </div>

        <div class="contents">
            <span class="heading-content ">
                <h2 class="menu-text">COMPONENTS</h2>

            </span>

            <div class="dropdown">
                <input type="checkbox" id="toggle-list7" class="toggle-checkbox">
                <label for="toggle-list7">
                    <span class="dashboard-text-area">
                        <span class="dashbrd-text d-flex align-center">
                            <span class="material-icons-round dashbrd-icon">
                                draw
                                </span>
                            <h3 class="dashboard-h3">Basic UI</h3>
                        </span>
                        <span class="material-icons-round down-arrow">
                            expand_more
                        </span>
                    </span>
                </label>
                <ul id="list7" class="list">
                    <li class="content-items d-flex active"><span class="material-icons-round list-icon">
                            minimize
                        </span><a href="" class="content-a d-flex">Alerts</a></li>
                    <li class="content-items d-flex active"><span class="material-icons-round list-icon">
                            minimize
                        </span><a href="" class="content-a d-flex">Badges</a></li>
                    <li class="content-items d-flex active"><span class="material-icons-round list-icon">
                            minimize
                        </span><a href="" class="content-a d-flex">Buttons</a></li>
                    <li class="content-items d-flex active"><span class="material-icons-round list-icon">
                            minimize
                        </span><a href="" class="content-a d-flex">Colors</a></li>
                    <li class="content-items d-flex active"><span class="material-icons-round list-icon">
                            minimize
                        </span><a href="" class="content-a d-flex">Cards</a></li>
                    <li class="content-items d-flex active"><span class="material-icons-round list-icon">
                            minimize
                        </span><a href="" class="content-a d-flex">Carousel</a></li>
                    <li class="content-items d-flex active"><span class="material-icons-round list-icon">
                            minimize
                        </span><a href="" class="content-a d-flex">Dropdowns</a></li>
                    <li class="content-items d-flex active"><span class="material-icons-round list-icon">
                            minimize
                        </span><a href="" class="content-a d-flex">Grid</a></li>
                    <li class="content-items d-flex active"><span class="material-icons-round list-icon">
                            minimize
                        </span><a href="" class="content-a d-flex">Images</a></li>
                    <li class="content-items d-flex active"><span class="material-icons-round list-icon">
                            minimize
                        </span><a href="" class="content-a d-flex">Tabs</a></li>
                    <li class="content-items d-flex active"><span class="material-icons-round list-icon">
                            minimize
                        </span><a href="" class="content-a d-flex">Accordian & Collapse</a></li>
                    <li class="content-items d-flex active"><span class="material-icons-round list-icon">
                            minimize
                        </span><a href="" class="content-a d-flex">Modals</a></li>
                    <li class="content-items d-flex active"><span class="material-icons-round list-icon">
                            minimize
                        </span><a href="" class="content-a d-flex">Offcanvas</a></li>
                    <li class="content-items d-flex active"><span class="material-icons-round list-icon">
                            minimize
                        </span><a href="" class="content-a d-flex">Placeholders</a></li>
                    <li class="content-items d-flex active"><span class="material-icons-round list-icon">
                            minimize
                        </span><a href="" class="content-a d-flex">Progress</a></li>
                    <li class="content-items d-flex active"><span class="material-icons-round list-icon">
                            minimize
                        </span><a href="" class="content-a d-flex">Notifications</a></li>
                    <li class="content-items d-flex active"><span class="material-icons-round list-icon">
                            minimize
                        </span><a href="" class="content-a d-flex">Media object</a></li>
                    <li class="content-items d-flex active"><span class="material-icons-round list-icon">
                            minimize
                        </span><a href="" class="content-a d-flex">Embed Video</a></li>
                    <li class="content-items d-flex active"><span class="material-icons-round list-icon">
                            minimize
                        </span><a href="" class="content-a d-flex">Typography</a></li>
                    <li class="content-items d-flex active"><span class="material-icons-round list-icon">
                            minimize
                        </span><a href="" class="content-a d-flex">Lists</a></li>
                    <li class="content-items d-flex active"><span class="material-icons-round list-icon">
                            minimize
                        </span><a href="" class="content-a d-flex">General</a></li>
                    <li class="content-items d-flex active"><span class="material-icons-round list-icon">
                            minimize
                        </span><a href="" class="content-a d-flex">Ribbons</a></li>
                    <li class="content-items d-flex active"><span class="material-icons-round list-icon">
                            minimize
                        </span><a href="" class="content-a d-flex">Utilities</a></li>
                </ul>
            </div>

            <div class="dropdown">
                <input type="checkbox" id="toggle-list8" class="toggle-checkbox">
                <label for="toggle-list8">
                    <span class="dashboard-text-area ">
                        <span class="dashbrd-text d-flex align-center">
                            <span class="material-icons-round dashbrd-icon">
                                layers
                                </span>
                            <h3 class="dashboard-h3">Advance UI</h3>
                        </span>
                        <span class="material-icons-round down-arrow">
                            expand_more
                        </span>
                    </span>
                </label>
                <ul id="list8" class="list">
                    <li class="content-items d-flex active"><span class="material-icons-round list-icon">
                            minimize
                        </span><a href="" class="content-a d-flex">Sweet Alerts</a></li>
                    <li class="content-items d-flex active"><span class="material-icons-round list-icon">
                            minimize
                        </span><a href="" class="content-a d-flex">Nestable list</a></li>
                    <li class="content-items d-flex active"><span class="material-icons-round list-icon">
                            minimize
                        </span><a href="" class="content-a d-flex">Scrolbar</a></li>
                    <li class="content-items d-flex active"><span class="material-icons-round list-icon">
                            minimize
                        </span><a href="" class="content-a d-flex">Animation</a></li>
                    <li class="content-items d-flex active"><span class="material-icons-round list-icon">
                            minimize
                        </span><a href="" class="content-a d-flex">Tour</a></li>
                    <li class="content-items d-flex active"><span class="material-icons-round list-icon">
                            minimize
                        </span><a href="" class="content-a d-flex">Swiper slider</a></li>
                    <li class="content-items d-flex active"><span class="material-icons-round list-icon">
                            minimize
                        </span><a href="" class="content-a d-flex">Ratings</a></li>
                    <li class="content-items d-flex active"><span class="material-icons-round list-icon">
                            minimize
                        </span><a href="" class="content-a d-flex">Highlights</a></li>
                    <li class="content-items d-flex active"><span class="material-icons-round list-icon">
                            minimize
                        </span><a href="" class="content-a d-flex">ScrollSpy</a></li>
                </ul>
            </div>



            <div class="dropdown">
                <input type="checkbox" id="toggle-list9" class="toggle-checkbox">
                <label for="toggle-list9">
                    <span class="dashboard-text-area ">
                        <span class="dashbrd-text d-flex align-center">
                            <span class="material-icons-round dashbrd-icon">
                                widgets
                                </span>
                            <h3 class="dashboard-h3">Widgets</h3>
                        </span>
                      
                    </span>
                </label>
               
            </div>

            <div class="dropdown">
                <input type="checkbox" id="toggle-list10" class="toggle-checkbox">
                <label for="toggle-list10">
                    <span class="dashboard-text-area ">
                        <span class="dashbrd-text d-flex align-center">
                            <span class="material-icons-round dashbrd-icon">
                                feed
                                </span>
                            <h3 class="dashboard-h3">Forms</h3>
                        </span>
                        <span class="material-icons-round down-arrow">
                            expand_more
                        </span>
                    </span>
                </label>
                <ul id="list10" class="list">
                    <li class="content-items d-flex active"><span class="material-icons-round list-icon">
                            minimize
                        </span><a href="" class="content-a d-flex">Basic Elements</a></li>
                    <li class="content-items d-flex active"><span class="material-icons-round list-icon">
                            minimize
                        </span><a href="" class="content-a d-flex">Form Select</a></li>
                    <li class="content-items d-flex"><span class="material-icons-round list-icon">
                            minimize
                        </span><a href="" class="content-a">Checkboxes & Radios</a></li>
                    <li class="content-items d-flex"><span class="material-icons-round list-icon">
                            minimize
                        </span><a href="" class="content-a">Pickers</a></li>
                    <li class="content-items d-flex"><span class="material-icons-round list-icon">
                            minimize
                        </span><a href="" class="content-a">Input Mascs</a></li>
                    <li class="content-items d-flex"><span class="material-icons-round list-icon">
                            minimize
                        </span><a href="" class="content-a">Advanced</a></li>
                    <li class="content-items d-flex"><span class="material-icons-round list-icon">
                            minimize
                        </span><a href="" class="content-a">Range Slider</a></li>
                    <li class="content-items d-flex"><span class="material-icons-round list-icon">
                            minimize
                        </span><a href="" class="content-a">Validation</a></li>
                    <li class="content-items d-flex"><span class="material-icons-round list-icon">
                            minimize
                        </span><a href="" class="content-a">Wizard</a></li>
                    <li class="content-items d-flex"><span class="material-icons-round list-icon">
                            minimize
                        </span><a href="" class="content-a">Editors</a></li>
                    <li class="content-items d-flex"><span class="material-icons-round list-icon">
                            minimize
                        </span><a href="" class="content-a">File Uploads</a></li>
                    <li class="content-items d-flex"><span class="material-icons-round list-icon">
                            minimize
                        </span><a href="" class="content-a">Form Layouts</a></li>
                    <li class="content-items d-flex"><span class="material-icons-round list-icon">
                            minimize
                        </span><a href="" class="content-a">Select2</a></li>
                </ul>
            </div>

            <div class="dropdown">
                <input type="checkbox" id="toggle-list11" class="toggle-checkbox">
                <label for="toggle-list11">
                    <span class="dashboard-text-area ">
                        <span class="dashbrd-text d-flex align-center">
                            <span class="material-icons-round dashbrd-icon">
                                toc
                                </span>
                            <h3 class="dashboard-h3">Tables</h3>
                        </span>
                        <span class="material-icons-round down-arrow">
                            expand_more
                        </span>
                    </span>
                </label>
                <ul id="list11" class="list">
                    <li class="content-items d-flex active"><span class="material-icons-round list-icon">
                            minimize
                        </span><a href="" class="content-a d-flex">Basic Tables</a></li>
                    <li class="content-items d-flex active"><span class="material-icons-round list-icon">
                            minimize
                        </span><a href="" class="content-a d-flex">Grid Js</a></li>
                    <li class="content-items d-flex"><span class="material-icons-round list-icon">
                            minimize
                        </span><a href="" class="content-a">List Js</a></li>
                    <li class="content-items d-flex"><span class="material-icons-round list-icon">
                            minimize
                        </span><a href="" class="content-a">Datatables</a></li>


                </ul>
            </div>

            <div class="dropdown">
                <input type="checkbox" id="toggle-list12" class="toggle-checkbox">
                <label for="toggle-list12">
                    <span class="dashboard-text-area ">
                        <span class="dashbrd-text d-flex align-center">
                            <span class="material-icons-round dashbrd-icon">
                                donut_small
                                </span>
                            <h3 class="dashboard-h3">Charts</h3>
                        </span>
                        <span class="material-icons-round down-arrow">
                            expand_more
                        </span>
                    </span>
                </label>
                <ul id="list12" class="list">
                    <li class="content-items d-flex active"><span class="material-icons-round list-icon">
                            minimize
                        </span><a href="" class="content-a d-flex">Apexcharts</a></li>
                    <li class="content-items d-flex active"><span class="material-icons-round list-icon">
                            minimize
                        </span><a href="" class="content-a d-flex">ChartJs</a></li>
                    <li class="content-items d-flex"><span class="material-icons-round list-icon">
                            minimize
                        </span><a href="" class="content-a">Echarts</a></li>

                </ul>
            </div>


            <div class="dropdown">
                <input type="checkbox" id="toggle-list13" class="toggle-checkbox">
                <label for="toggle-list13">
                    <span class="dashboard-text-area ">
                        <span class="dashbrd-text d-flex align-center">
                            <span class="material-icons-round dashbrd-icon ">
                                polymer
                                </span>
                            <h3 class="dashboard-h3">Icons</h3>
                        </span>
                        <span class="material-icons-round down-arrow">
                            expand_more
                        </span>
                    </span>
                </label>
                <ul id="list13" class="list">
                    <li class="content-items d-flex active"><span class="material-icons-round list-icon">
                            minimize
                        </span><a href="" class="content-a d-flex"> Remix</a></li>
                    <li class="content-items d-flex active"><span class="material-icons-round list-icon">
                            minimize
                        </span><a href="" class="content-a d-flex">Boxicons</a></li>
                    <li class="content-items d-flex"><span class="material-icons-round list-icon">
                            minimize
                        </span><a href="" class="content-a">Material Design</a></li>
                    <li class="content-items d-flex"><span class="material-icons-round list-icon">
                            minimize
                        </span><a href="" class="content-a">Line Awesome</a></li>
                    <li class="content-items d-flex"><span class="material-icons-round list-icon">
                            minimize
                        </span><a href="" class="content-a">Feather</a></li>
                    <li class="content-items d-flex"><span class="material-icons-round list-icon">
                            minimize
                        </span><a href="" class="content-a">Crypto SVG</a></li>
                </ul>
            </div>



            <div class="dropdown">
                <input type="checkbox" id="toggle-list14" class="toggle-checkbox">
                <label for="toggle-list14">
                    <span class="dashboard-text-area ">
                        <span class="dashbrd-text d-flex align-center">
                            <span class="material-icons-round  dashbrd-icon">
                                map
                                </span>
                            <h3 class="dashboard-h3">Maps</h3>
                        </span>
                        <span class="material-icons-round down-arrow">
                            expand_more
                        </span>
                    </span>
                </label>
                <ul id="list14" class="list">
                    <li class="content-items d-flex active"><span class="material-icons-round list-icon">
                            minimize
                        </span><a href="" class="content-a d-flex">Google</a></li>
                    <li class="content-items d-flex active"><span class="material-icons-round list-icon">
                            minimize
                        </span><a href="" class="content-a d-flex">Vector</a></li>
                    <li class="content-items d-flex"><span class="material-icons-round list-icon">
                            minimize
                        </span><a href="" class="content-a">Leaflet</a></li>


                </ul>
            </div>


            <div class="dropdown">
                <input type="checkbox" id="toggle-list15" class="toggle-checkbox">
                <label for="toggle-list15">
                    <span class="dashboard-text-area ">
                        <span class="dashbrd-text d-flex align-center">
                            <span class="material-icons-round dashbrd-icon">
                                share
                                </span>
                            <h3 class="dashboard-h3">Multi Level</h3>
                        </span>
                        <span class="material-icons-round down-arrow">
                            expand_more
                        </span>
                    </span>
                </label>
                <ul id="list15" class="list">
                    <li class="content-items d-flex active"><span class="material-icons-round list-icon">
                            minimize
                        </span><a href="" class="content-a d-flex">Level 1.1</a></li>
                    <li class="content-items d-flex active"><span class="material-icons-round list-icon">
                            minimize
                        </span><a href="" class="content-a d-flex">Level 1.2</a></li>
                </ul>
            </div>
        </div>

    </aside>
</section>

