.d-flex{
    display: flex;
   
    
}
.align-center{
    align-items: center;
}
.d-flex-justify-align-center{
    display: flex;
align-items: center;
justify-content: center;
}
.align-flex-start{
    align-items:flex-start ;
}
.container{
    width: 100%;
}
