
  
  <header class="header">
  <aside class="container">
    <div class="row">
      <div class="col-md-6">
        <span class="search-toggle">
          <span class="material-icons-round header-arrow">
            arrow_right_alt
            </span>
          <span class="material-icons-round icon-toggle" (click)=" toggleBodyClass()"> menu </span>
        </span>
          <span class="search-area d-flex align-center">
            <span class="material-icons-round icon"> search </span>
            <input type="text" class="search-input" placeholder="search.." />
          </span>
      </div>
  
      <div class="col-md-6 icons-area">

        <input type="checkbox" id="toggle-list18" class="toggle-checkbox">
        <label for="toggle-list18">

          <p class="nav-list-a"
          ><img
            src="../../../../../../assets/images/USA.svg.png"
            alt=""
            class="usa-flag-img"
        /></p>
        
        </label>
       
        <ul class="list18" id="list18">
          <li class="list-items-hover">
            <img src="../../../../../../assets/images/us.svg" class="flag-box" alt=""><a href="">English</a></li>
          <li class="list-items-hover">
            <img src="../../../../../../assets/images/spain.svg" class="flag-box" alt="">
            <a href="">Española</a></li>
          <li class="list-items-hover">
            <img src="../../../../../../assets/images/germany.svg" class="flag-box" alt="">
            <a href="">Deutsche</a></li>
          <li class="list-items-hover">
            <img src="../../../../../../assets/images/italy.svg" class="flag-box" alt="">
            <a href="">Italiana</a></li>
          <li class="list-items-hover">
            <img src="../../../../../../assets/images/russia.svg" class="flag-box" alt="">
            <a href="">русский</a></li>
          <li class="list-items-hover">
            <img src="../../../../../../assets/images/china.svg" class="flag-box" alt="">
            <a href="">中国人</a></li>
            <li class="list-items-hover">
              <img src="../../../../../../assets/images/french.svg" class="flag-box" alt="">
              <a href="">français</a></li>
              <li class="list-items-hover">
                <img src="../../../../../../assets/images/ae.svg" class="flag-box" alt="">
                <a href="">Arabic</a></li>
        </ul> 
       
        <a href="" class="nav-list-a"
          ><span class="material-icons-round icon2"> grid_view </span></a
        >
        <span class="round-text">
          <a href="" class="nav-list-a"
            ><span class="material-icons-round icon">
                shopping_bag
                </span></a>
          <span class="round" style="background-color: blue;">5</span>
        </span>
        <a href="" class="nav-list-a"
          ><span class="material-icons-round icon2"> fullscreen </span></a
        >
        <a href="" class="nav-list-a" 
          ><span class="material-icons-round icon2">
            dark_mode
            </span></a
        >
  
        <span class="round-text">
          <a href="" class="nav-list-a"
            ><span class="material-icons-round icon">
                notifications
                </span>
                </a>
          <span class="round">6</span>
        </span>
  
        <span class="account-area">
          <span class="profile">
  <img src="../../../../../../assets/images/profile_1.png" alt="" class="profile-img">
          </span>
          <ul class="profile-ul">
            <li class="profile-li"><h4 class="profile-h4" style="margin-bottom: 0.4rem;">Anna Adame</h4></li>
            <li class="profile-li" style="color: #aaaaaa;">Founder</li>
          </ul>
        </span>
      </div>
   

    </div>
  </aside>
  </header>




 
