<!-- <section class="side-bar">
    <app-leftsidebar></app-leftsidebar>
 </section> -->
<section class="dashboard-main ">
    <!-- <app-header></app-header> -->

   <section class="main-content">
   <app-collectioncard></app-collectioncard>
   <app-graphsection></app-graphsection>
   <app-salessection></app-salessection>
  <app-ordersection></app-ordersection>
 <app-footer></app-footer>
  
   <!-- <app-gallery></app-gallery> -->
    </section>
 </section>

 <!-- <section class="right-side-bar">
    <app-rightsidebar></app-rightsidebar> -->
 <!-- </section> -->
 
