<section class="main">
    <aside class="container">
       <aside class="row d-flex">
           <aside class="col-md-6">
               <ul class="texts">
                   <li class="heading">Good Morning, Anna!</li>
                   <li class="sub-heading">Here's what's happening with your store today.</li>
               </ul>
   
           </aside>
   
           <aside class="col-md-6">
   
               <aside class="side-sec">
                   <form class="forms d-flex align-center">
                       <label for=""></label>
                       <input type="date"  id="calendar" >
                       <div class="cal-icon d-flex align-center">
                        <span class="material-icons-round calender-icon">
                            calendar_month
                            </span>
                       </div>
                       
                      
                     </form>
                    <div class="btn-main">
                        <button type="button" class="btn1 d-flex"><span class="material-icons-round plus-icon">
                            add_circle_outline
                            </span>Add product</button>
                         <button type="button" class="btn2"><span class="material-icons-round">
                           trending_down
                           </span></button>
                    </div>
                     
   
   
               </aside>
               
           </aside>
   
   
       </aside>
   
   
       <aside class="card-row">
      <aside class="card-row1 d-flex align-center">
        <aside class="col-md-3">
            
   
            <div class="earnings d-flex">
                <h5 class="earning-text">TOTAL EARNINGS</h5>
                <div class="earned-amount d-flex">
                 <span class="material-icons-round arrow">
                     north_east
                     </span>

                        <h5 class="amount">+16.24 %</h5>
                </div>

            </div>

            <h1 class="main-amount">$559.25k</h1>

            <div class="down-content d-flex">
             <h6 class="underline-text">View net earnings</h6>
             <div class="money-icon">
                 <span class="material-icons-round money">
                     paid
                     </span>
            </div>
            </div>


    </aside>
    <aside class="col-md-3">
      

            <div class="earnings d-flex">
                <h5 class="earning-text">ORDERS</h5>
                <div class="earned-amount d-flex">
                 <span class="material-icons-round arrow">
                     north_east
                     </span>

                        <h5 class="amount">-3.57 %</h5>
                </div>

            </div>

            <h1 class="main-amount">36,894</h1>

            <div class="down-content d-flex">
             <h6 class="underline-text">View all orders</h6>
             <div class="money-icon">
                <span class="material-icons-round money">
                    shopping_bag
                    </span>
            </div>
            </div>

       


    </aside>
    <aside class="col-md-3">


            <div class="earnings d-flex">
                <h5 class="earning-text">CUSTOMERS</h5>
                <div class="earned-amount d-flex">
                 <span class="material-icons-round arrow">
                     north_east
                     </span>

                        <h5 class="amount">+29.08%</h5>
                </div>

            </div>

            <h1 class="main-amount">183.35M</h1>

            <div class="down-content d-flex">
             <h6 class="underline-text">See details</h6>
             <div class="money-icon" style="background-color:#fef2df">
                <span class="material-icons-round money" style="color:#f8c56d">
                    account_circle
                    </span>
            </div>
            </div>

     

    </aside>
    <aside class="col-md-3">
       

            <div class="earnings d-flex">
                <h5 class="earning-text">MY BALANCE</h5>
<div class="earned-amount d-flex">
<span class="material-icons-round arrow">
 north_east
 </span>

                        <h5 class="amount">+0.00%</h5>
                </div>

            </div>

            <h1 class="main-amount">$165.89K</h1>

            <div class="down-content d-flex">
             <h6 class="underline-text">Withdraw money</h6>
             <div class="money-icon" style="background-color: #dde0ea;">
                <span class="material-icons-round money" style="color:#495a8f">
                    credit_card
                    </span>
            </div>
            </div>

        </aside>
      </aside>
   
       
       </aside>
    </aside>
   </section>



   
 