<section class="main">
    <aside class="container">
        <aside class="row">
            <aside class="graph-area">
                <aside class="revenue-card">
                  
                        <aside class="revenue-header">
                            <aside class="left">
                                <h4 class="title">Revenue</h4>


                            </aside>
                            <aside class="right">
                                <aside class="buttons">
                                    <button type="button" class="btn">ALL</button>
                                    <button type="button" class="btn">1M</button>
                                    <button type="button" class="btn">6M</button>
                                    <button type="button" class="btn" style="background-color:#ecedf3; color: #968ba4;">1Y</button>
                                </aside>
                                

                            </aside>
                        </aside>

                        <aside class="card-amount">
                            <aside class="col-md-3">
                                <ul class="sub-card">
                                    <li class="amount">7,585</li>
                                    <li class="details">Orders</li>
                                </ul>


                            </aside>

                            <aside class="col-md-3">
                                <ul class="sub-card">
                                    <li class="amount">$22.89k</li>
                                    <li class="details">Earnings</li>
                                </ul>


                            </aside>


                            <aside class="col-md-3">
                                <ul class="sub-card">
                                    <li class="amount">367</li>
                                    <li class="details">Refunds</li>
                                </ul>


                            </aside>

                            <aside class="col-md-3">
                                <ul class="sub-card">
                                    <li class="amount" style="color:#38c1af">18.92%</li>
                                    <li class="details">Conversation Ratio</li>
                                </ul>


                            </aside>
                        </aside>

                        <aside class="graph-img">
                            <img src="../../../../../assets/images/graph.png">
                        </aside>







                 

                </aside>
</aside>

            <aside class="location-area">
                <aside class="sales-card">
                    <aside class="sales-header">
                        <h4 class="sales-title">Sales by Locations</h4>
                        <button type="button" class="btn-sales">Export Report</button>


                    </aside>
                    <aside class="location-img">
                        <img class="location" src="../../../../../assets/images/map.png">
                    </aside>


                    <aside class="progress">
                        <ul class="progress-1">
                           <li class="country-name">
                            <h5 class="text">Canada</h5>
                            <h5 class="percentage">75%</h5>
                           </li>
                            <li class=" progress-bar">
                                <div class="full"></div>
                                <div class="half"></div>
                            </li>
                            
                        </ul>


                        <ul class="progress-1">
                            <li class="country-name">
                             <h5 class="text">Greenland</h5>
                             <h5 class="percentage">47%</h5>
                            </li>
                             <li class=" progress-bar">
                                 <div class="full"></div>
                                 <div class="half" style="width:47%"></div>
                             </li>
                             
                         </ul>


                         <ul class="progress-1">
                            <li class="country-name">
                             <h5 class="text">Russia</h5>
                             <h5 class="percentage">82%</h5>
                            </li>
                             <li class=" progress-bar">
                                 <div class="full"></div>
                                 <div class="half" style="width:82%"></div>
                             </li>
                             
                         </ul>

                    </aside>



                </aside>



            </aside>
        </aside>
    </aside>
</section>
