<section class="head-main">
   <section class="main">
      <div class="container">
         <div class="bottom-nav">
          <div class="content">
              <span class="gallery-text">
                  <h2 class="text-h2">GALLERY</h2>
              </span>
              <span class="gallery-text2">
                <h3 class="text-h3">Pages  </h3>
                  <span class="material-icons-round icon-right">
                      navigate_next
                      </span> 
                      <h3 class="text-h3">Gallery  </h3>
  
              </span>
          </div>
         </div>
      </div>
  </section>
  
         <section class="tab-section" >
          <div class="container">
        
  
            
            
                     
          
              <input type="radio" name="tabs" id="tab1" checked />
              <label for="tab1" class="label1">All</label>
              <input type="radio" name="tabs" id="tab2" />
              <label for="tab2">Project</label>
              <input type="radio" name="tabs" id="tab3" />
              <label for="tab3">Designing</label>
              <input type="radio" name="tabs" id="tab4" />
              <label for="tab4">Photography</label>
              <input type="radio" name="tabs" id="tab5" />
              <label for="tab5">Development</label>
          
          
              
              
            
              <div class="tab content1">
                 <div class="cards">
                  <div class="single-cards">
                     <span class="img-area">
                      <img src="../../../../../assets/images/card-img1.jpg" alt="" class="card-img">
                      <h2 class="text-img">Glasses and Laptop from above</h2>
  
                     </span>
                     
                   
                     <span class="card-text">
                      <span class="text-left">
                        <p class="text-card">by <span class="dark-text">Rone Mackie</span></p>
                      </span>
                      <span class="text-right">
                         <span class="like d-flex">
                          <span class="material-icons-round card-icon">
                              thumb_up
                              </span>
                              <p class="text-card2">2.2k</p>
                         </span>
                         <span class="like d-flex">
                          <span class="material-icons-round card-icon">
                              question_answer
                              </span>
                              <p class="text-card2">1.3k</p>
                         </span>
                      </span>
                     </span>
  
                  </div>
  
                  <div class="single-cards">
                      <span class="img-area">
                       <img src="../../../../../assets/images/card-img2.jpg" alt="" class="card-img">
                       <h2 class="text-img">Glasses and Laptop from above</h2>
   
                      </span>
                      
                    
                      <span class="card-text">
                       <span class="text-left">
                         <p class="text-card">by <span class="dark-text">Rone Mackie</span></p>
                       </span>
                       <span class="text-right">
                          <span class="like d-flex">
                           <span class="material-icons-round card-icon">
                               thumb_up
                               </span>
                               <p class="text-card2">2.2k</p>
                          </span>
                          <span class="like d-flex">
                           <span class="material-icons-round card-icon">
                               question_answer
                               </span>
                               <p class="text-card2">1.3k</p>
                          </span>
                       </span>
                      </span>
   
                   </div>
  
                   <div class="single-cards">
                      <span class="img-area">
                       <img src="../../../../../assets/images/card-img3.jpg" alt="" class="card-img">
                       <h2 class="text-img">Glasses and Laptop from above</h2>
   
                      </span>
                      
                    
                      <span class="card-text">
                       <span class="text-left">
                         <p class="text-card">by <span class="dark-text">Rone Mackie</span></p>
                       </span>
                       <span class="text-right">
                          <span class="like d-flex">
                           <span class="material-icons-round card-icon">
                               thumb_up
                               </span>
                               <p class="text-card2">2.2k</p>
                          </span>
                          <span class="like d-flex">
                           <span class="material-icons-round card-icon">
                               question_answer
                               </span>
                               <p class="text-card2">1.3k</p>
                          </span>
                       </span>
                      </span>
   
                   </div>
  
  
                   <div class="single-cards">
                      <span class="img-area">
                       <img src="../../../../../assets/images/card-img4.jpg" alt="" class="card-img">
                       <h2 class="text-img">Glasses and Laptop from above</h2>
   
                      </span>
                      
                    
                      <span class="card-text">
                       <span class="text-left">
                         <p class="text-card">by <span class="dark-text">Rone Mackie</span></p>
                       </span>
                       <span class="text-right">
                          <span class="like d-flex">
                           <span class="material-icons-round card-icon">
                               thumb_up
                               </span>
                               <p class="text-card2">2.2k</p>
                          </span>
                          <span class="like d-flex">
                           <span class="material-icons-round card-icon">
                               question_answer
                               </span>
                               <p class="text-card2">1.3k</p>
                          </span>
                       </span>
                      </span>
  
  
                     
                   </div>
                    <div class="single-cards">
                          <span class="img-area">
                           <img src="../../../../../assets/images/card-img5.jpg" alt="" class="card-img">
                           <h2 class="text-img">Glasses and Laptop from above</h2>
       
                          </span>
                          
                          <span class="card-text">
                           <span class="text-left">
                             <p class="text-card">by <span class="dark-text">Rone Mackie</span></p>
                           </span>
                           <span class="text-right">
                              <span class="like d-flex">
                               <span class="material-icons-round card-icon">
                                   thumb_up
                                   </span>
                                   <p class="text-card2">2.2k</p>
                              </span>
                              <span class="like d-flex">
                               <span class="material-icons-round card-icon">
                                   question_answer
                                   </span>
                                   <p class="text-card2">1.3k</p>
                              </span>
                           </span>
                          </span>
       
                       </div>
   
  
                       <div class="single-cards">
                          <span class="img-area">
                           <img src="../../../../../assets/images/card-img-6.jpg" alt="" class="card-img">
                           <h2 class="text-img">Glasses and Laptop from above</h2>
       
                          </span>
                          
                          <span class="card-text">
                           <span class="text-left">
                             <p class="text-card">by <span class="dark-text">Rone Mackie</span></p>
                           </span>
                           <span class="text-right">
                              <span class="like d-flex">
                               <span class="material-icons-round card-icon">
                                   thumb_up
                                   </span>
                                   <p class="text-card2">2.2k</p>
                              </span>
                              <span class="like d-flex">
                               <span class="material-icons-round card-icon">
                                   question_answer
                                   </span>
                                   <p class="text-card2">1.3k</p>
                              </span>
                           </span>
                          </span>
       
                       </div>
  
                       <div class="single-cards">
                        <span class="img-area">
                         <img src="../../../../../assets/images/card-img-7.jpg" alt="" class="card-img">
                         <h2 class="text-img">Glasses and Laptop from above</h2>
     
                        </span>
                        
                        <span class="card-text">
                         <span class="text-left">
                           <p class="text-card">by <span class="dark-text">Rone Mackie</span></p>
                         </span>
                         <span class="text-right">
                            <span class="like d-flex">
                             <span class="material-icons-round card-icon">
                                 thumb_up
                                 </span>
                                 <p class="text-card2">2.2k</p>
                            </span>
                            <span class="like d-flex">
                             <span class="material-icons-round card-icon">
                                 question_answer
                                 </span>
                                 <p class="text-card2">1.3k</p>
                            </span>
                         </span>
                        </span>
     
                     </div>
  
  
                     <div class="single-cards">
                        <span class="img-area">
                         <img src="../../../../../assets/images/card-img-8.jpg" alt="" class="card-img">
                         <h2 class="text-img">Glasses and Laptop from above</h2>
     
                        </span>
                        
                        <span class="card-text">
                         <span class="text-left">
                           <p class="text-card">by <span class="dark-text">Rone Mackie</span></p>
                         </span>
                         <span class="text-right">
                            <span class="like d-flex">
                             <span class="material-icons-round card-icon">
                                 thumb_up
                                 </span>
                                 <p class="text-card2">2.2k</p>
                            </span>
                            <span class="like d-flex">
                             <span class="material-icons-round card-icon">
                                 question_answer
                                 </span>
                                 <p class="text-card2">1.3k</p>
                            </span>
                         </span>
                        </span>
     
                     </div>
  
                     <div class="single-cards">
                      <span class="img-area">
                       <img src="../../../../../assets/images/card-img-9.jpg" alt="" class="card-img">
                       <h2 class="text-img">Glasses and Laptop from above</h2>
   
                      </span>
                      
                      <span class="card-text">
                       <span class="text-left">
                         <p class="text-card">by <span class="dark-text">Rone Mackie</span></p>
                       </span>
                       <span class="text-right">
                          <span class="like d-flex">
                           <span class="material-icons-round card-icon">
                               thumb_up
                               </span>
                               <p class="text-card2">2.2k</p>
                          </span>
                          <span class="like d-flex">
                           <span class="material-icons-round card-icon">
                               question_answer
                               </span>
                               <p class="text-card2">1.3k</p>
                          </span>
                       </span>
                      </span>
   
                   </div>
  
                   <div class="single-cards">
                    <span class="img-area">
                     <img src="../../../../../assets/images/card-img-10.jpg" alt="" class="card-img">
                     <h2 class="text-img">Glasses and Laptop from above</h2>
  
                    </span>
                    
                    <span class="card-text">
                     <span class="text-left">
                       <p class="text-card">by <span class="dark-text">Rone Mackie</span></p>
                     </span>
                     <span class="text-right">
                        <span class="like d-flex">
                         <span class="material-icons-round card-icon">
                             thumb_up
                             </span>
                             <p class="text-card2">2.2k</p>
                        </span>
                        <span class="like d-flex">
                         <span class="material-icons-round card-icon">
                             question_answer
                             </span>
                             <p class="text-card2">1.3k</p>
                        </span>
                     </span>
                    </span>
  
                 </div>
  
                 <div class="single-cards">
                  <span class="img-area">
                   <img src="../../../../../assets/images/card-img-11.jpg" alt="" class="card-img">
                   <h2 class="text-img">Glasses and Laptop from above</h2>
  
                  </span>
                  
                  <span class="card-text">
                   <span class="text-left">
                     <p class="text-card">by <span class="dark-text">Rone Mackie</span></p>
                   </span>
                   <span class="text-right">
                      <span class="like d-flex">
                       <span class="material-icons-round card-icon">
                           thumb_up
                           </span>
                           <p class="text-card2">2.2k</p>
                      </span>
                      <span class="like d-flex">
                       <span class="material-icons-round card-icon">
                           question_answer
                           </span>
                           <p class="text-card2">1.3k</p>
                      </span>
                   </span>
                  </span>
  
               </div>
  
               <div class="single-cards">
                <span class="img-area">
                 <img src="../../../../../assets/images/card-img-12.jpg" alt="" class="card-img">
                 <h2 class="text-img">Glasses and Laptop from above</h2>
  
                </span>
                
                <span class="card-text">
                 <span class="text-left">
                   <p class="text-card">by <span class="dark-text">Rone Mackie</span></p>
                 </span>
                 <span class="text-right">
                    <span class="like d-flex">
                     <span class="material-icons-round card-icon">
                         thumb_up
                         </span>
                         <p class="text-card2">2.2k</p>
                    </span>
                    <span class="like d-flex">
                     <span class="material-icons-round card-icon">
                         question_answer
                         </span>
                         <p class="text-card2">1.3k</p>
                    </span>
                 </span>
                </span>
  
             </div>
  
                 </div>
                   
                </div>
                <div class="tab content2">
                  <div class="cards">
                    <div class="single-cards">
                       <span class="img-area">
                        <img src="../../../../../assets/images/card-img1.jpg" alt="" class="card-img">
                        <h2 class="text-img">Glasses and Laptop from above</h2>
    
                       </span>
                       
                     
                       <span class="card-text">
                        <span class="text-left">
                          <p class="text-card">by <span class="dark-text">Rone Mackie</span></p>
                        </span>
                        <span class="text-right">
                           <span class="like d-flex">
                            <span class="material-icons-round card-icon">
                                thumb_up
                                </span>
                                <p class="text-card2">2.2k</p>
                           </span>
                           <span class="like d-flex">
                            <span class="material-icons-round card-icon">
                                question_answer
                                </span>
                                <p class="text-card2">1.3k</p>
                           </span>
                        </span>
                       </span>
    
                    </div>
    
                    <div class="single-cards">
                        <span class="img-area">
                         <img src="../../../../../assets/images/card-img2.jpg" alt="" class="card-img">
                         <h2 class="text-img">Glasses and Laptop from above</h2>
     
                        </span>
                        
                      
                        <span class="card-text">
                         <span class="text-left">
                           <p class="text-card">by <span class="dark-text">Rone Mackie</span></p>
                         </span>
                         <span class="text-right">
                            <span class="like d-flex">
                             <span class="material-icons-round card-icon">
                                 thumb_up
                                 </span>
                                 <p class="text-card2">2.2k</p>
                            </span>
                            <span class="like d-flex">
                             <span class="material-icons-round card-icon">
                                 question_answer
                                 </span>
                                 <p class="text-card2">1.3k</p>
                            </span>
                         </span>
                        </span>
     
                     </div>
    
                     <div class="single-cards">
                        <span class="img-area">
                         <img src="../../../../../assets/images/card-img3.jpg" alt="" class="card-img">
                         <h2 class="text-img">Glasses and Laptop from above</h2>
     
                        </span>
                        
                      
                        <span class="card-text">
                         <span class="text-left">
                           <p class="text-card">by <span class="dark-text">Rone Mackie</span></p>
                         </span>
                         <span class="text-right">
                            <span class="like d-flex">
                             <span class="material-icons-round card-icon">
                                 thumb_up
                                 </span>
                                 <p class="text-card2">2.2k</p>
                            </span>
                            <span class="like d-flex">
                             <span class="material-icons-round card-icon">
                                 question_answer
                                 </span>
                                 <p class="text-card2">1.3k</p>
                            </span>
                         </span>
                        </span>
     
                     </div>
    
    
                     <div class="single-cards">
                        <span class="img-area">
                         <img src="../../../../../assets/images/card-img4.jpg" alt="" class="card-img">
                         <h2 class="text-img">Glasses and Laptop from above</h2>
     
                        </span>
                        
                      
                        <span class="card-text">
                         <span class="text-left">
                           <p class="text-card">by <span class="dark-text">Rone Mackie</span></p>
                         </span>
                         <span class="text-right">
                            <span class="like d-flex">
                             <span class="material-icons-round card-icon">
                                 thumb_up
                                 </span>
                                 <p class="text-card2">2.2k</p>
                            </span>
                            <span class="like d-flex">
                             <span class="material-icons-round card-icon">
                                 question_answer
                                 </span>
                                 <p class="text-card2">1.3k</p>
                            </span>
                         </span>
                        </span>
    
    
                       
                     </div>
                      <div class="single-cards">
                            <span class="img-area">
                             <img src="../../../../../assets/images/card-img5.jpg" alt="" class="card-img">
                             <h2 class="text-img">Glasses and Laptop from above</h2>
         
                            </span>
                            
                            <span class="card-text">
                             <span class="text-left">
                               <p class="text-card">by <span class="dark-text">Rone Mackie</span></p>
                             </span>
                             <span class="text-right">
                                <span class="like d-flex">
                                 <span class="material-icons-round card-icon">
                                     thumb_up
                                     </span>
                                     <p class="text-card2">2.2k</p>
                                </span>
                                <span class="like d-flex">
                                 <span class="material-icons-round card-icon">
                                     question_answer
                                     </span>
                                     <p class="text-card2">1.3k</p>
                                </span>
                             </span>
                            </span>
         
                         </div>
     
    
                         <div class="single-cards">
                            <span class="img-area">
                             <img src="../../../../../assets/images/card-img-6.jpg" alt="" class="card-img">
                             <h2 class="text-img">Glasses and Laptop from above</h2>
         
                            </span>
                            
                            <span class="card-text">
                             <span class="text-left">
                               <p class="text-card">by <span class="dark-text">Rone Mackie</span></p>
                             </span>
                             <span class="text-right">
                                <span class="like d-flex">
                                 <span class="material-icons-round card-icon">
                                     thumb_up
                                     </span>
                                     <p class="text-card2">2.2k</p>
                                </span>
                                <span class="like d-flex">
                                 <span class="material-icons-round card-icon">
                                     question_answer
                                     </span>
                                     <p class="text-card2">1.3k</p>
                                </span>
                             </span>
                            </span>
         
                         </div>
    
                         <div class="single-cards">
                          <span class="img-area">
                           <img src="../../../../../assets/images/card-img-7.jpg" alt="" class="card-img">
                           <h2 class="text-img">Glasses and Laptop from above</h2>
       
                          </span>
                          
                          <span class="card-text">
                           <span class="text-left">
                             <p class="text-card">by <span class="dark-text">Rone Mackie</span></p>
                           </span>
                           <span class="text-right">
                              <span class="like d-flex">
                               <span class="material-icons-round card-icon">
                                   thumb_up
                                   </span>
                                   <p class="text-card2">2.2k</p>
                              </span>
                              <span class="like d-flex">
                               <span class="material-icons-round card-icon">
                                   question_answer
                                   </span>
                                   <p class="text-card2">1.3k</p>
                              </span>
                           </span>
                          </span>
       
                       </div>
    
  </div>  
                </div>
                <div class="tab content3">
                
                  <div class="cards">
                    <div class="single-cards">
                       <span class="img-area">
                        <img src="../../../../../assets/images/card-img1.jpg" alt="" class="card-img">
                        <h2 class="text-img">Glasses and Laptop from above</h2>
    
                       </span>
                       
                     
                       <span class="card-text">
                        <span class="text-left">
                          <p class="text-card">by <span class="dark-text">Rone Mackie</span></p>
                        </span>
                        <span class="text-right">
                           <span class="like d-flex">
                            <span class="material-icons-round card-icon">
                                thumb_up
                                </span>
                                <p class="text-card2">2.2k</p>
                           </span>
                           <span class="like d-flex">
                            <span class="material-icons-round card-icon">
                                question_answer
                                </span>
                                <p class="text-card2">1.3k</p>
                           </span>
                        </span>
                       </span>
    
                    </div>
    
                    <div class="single-cards">
                        <span class="img-area">
                         <img src="../../../../../assets/images/card-img2.jpg" alt="" class="card-img">
                         <h2 class="text-img">Glasses and Laptop from above</h2>
     
                        </span>
                        
                      
                        <span class="card-text">
                         <span class="text-left">
                           <p class="text-card">by <span class="dark-text">Rone Mackie</span></p>
                         </span>
                         <span class="text-right">
                            <span class="like d-flex">
                             <span class="material-icons-round card-icon">
                                 thumb_up
                                 </span>
                                 <p class="text-card2">2.2k</p>
                            </span>
                            <span class="like d-flex">
                             <span class="material-icons-round card-icon">
                                 question_answer
                                 </span>
                                 <p class="text-card2">1.3k</p>
                            </span>
                         </span>
                        </span>
     
                     </div>
    
                     <div class="single-cards">
                        <span class="img-area">
                         <img src="../../../../../assets/images/card-img3.jpg" alt="" class="card-img">
                         <h2 class="text-img">Glasses and Laptop from above</h2>
     
                        </span>
                        
                      
                        <span class="card-text">
                         <span class="text-left">
                           <p class="text-card">by <span class="dark-text">Rone Mackie</span></p>
                         </span>
                         <span class="text-right">
                            <span class="like d-flex">
                             <span class="material-icons-round card-icon">
                                 thumb_up
                                 </span>
                                 <p class="text-card2">2.2k</p>
                            </span>
                            <span class="like d-flex">
                             <span class="material-icons-round card-icon">
                                 question_answer
                                 </span>
                                 <p class="text-card2">1.3k</p>
                            </span>
                         </span>
                        </span>
     
                     </div>
    
    
                     <div class="single-cards">
                        <span class="img-area">
                         <img src="../../../../../assets/images/card-img4.jpg" alt="" class="card-img">
                         <h2 class="text-img">Glasses and Laptop from above</h2>
     
                        </span>
                        
                      
                        <span class="card-text">
                         <span class="text-left">
                           <p class="text-card">by <span class="dark-text">Rone Mackie</span></p>
                         </span>
                         <span class="text-right">
                            <span class="like d-flex">
                             <span class="material-icons-round card-icon">
                                 thumb_up
                                 </span>
                                 <p class="text-card2">2.2k</p>
                            </span>
                            <span class="like d-flex">
                             <span class="material-icons-round card-icon">
                                 question_answer
                                 </span>
                                 <p class="text-card2">1.3k</p>
                            </span>
                         </span>
                        </span>
    
    
                       
                     </div>
                      <div class="single-cards">
                            <span class="img-area">
                             <img src="../../../../../assets/images/card-img5.jpg" alt="" class="card-img">
                             <h2 class="text-img">Glasses and Laptop from above</h2>
         
                            </span>
                            
                            <span class="card-text">
                             <span class="text-left">
                               <p class="text-card">by <span class="dark-text">Rone Mackie</span></p>
                             </span>
                             <span class="text-right">
                                <span class="like d-flex">
                                 <span class="material-icons-round card-icon">
                                     thumb_up
                                     </span>
                                     <p class="text-card2">2.2k</p>
                                </span>
                                <span class="like d-flex">
                                 <span class="material-icons-round card-icon">
                                     question_answer
                                     </span>
                                     <p class="text-card2">1.3k</p>
                                </span>
                             </span>
                            </span>
         
                         </div>
     
    
                         <div class="single-cards">
                            <span class="img-area">
                             <img src="../../../../../assets/images/card-img-6.jpg" alt="" class="card-img">
                             <h2 class="text-img">Glasses and Laptop from above</h2>
         
                            </span>
                            
                            <span class="card-text">
                             <span class="text-left">
                               <p class="text-card">by <span class="dark-text">Rone Mackie</span></p>
                             </span>
                             <span class="text-right">
                                <span class="like d-flex">
                                 <span class="material-icons-round card-icon">
                                     thumb_up
                                     </span>
                                     <p class="text-card2">2.2k</p>
                                </span>
                                <span class="like d-flex">
                                 <span class="material-icons-round card-icon">
                                     question_answer
                                     </span>
                                     <p class="text-card2">1.3k</p>
                                </span>
                             </span>
                            </span>
         
                         </div>
    
       
  </div>  
                </div>
  
  
                <div class="tab content4">
                
                  <div class="cards">
                    <div class="single-cards">
                       <span class="img-area">
                        <img src="../../../../../assets/images/card-img1.jpg" alt="" class="card-img">
                        <h2 class="text-img">Glasses and Laptop from above</h2>
    
                       </span>
                       
                     
                       <span class="card-text">
                        <span class="text-left">
                          <p class="text-card">by <span class="dark-text">Rone Mackie</span></p>
                        </span>
                        <span class="text-right">
                           <span class="like d-flex">
                            <span class="material-icons-round card-icon">
                                thumb_up
                                </span>
                                <p class="text-card2">2.2k</p>
                           </span>
                           <span class="like d-flex">
                            <span class="material-icons-round card-icon">
                                question_answer
                                </span>
                                <p class="text-card2">1.3k</p>
                           </span>
                        </span>
                       </span>
    
                    </div>
    
                    <div class="single-cards">
                        <span class="img-area">
                         <img src="../../../../../assets/images/card-img2.jpg" alt="" class="card-img">
                         <h2 class="text-img">Glasses and Laptop from above</h2>
     
                        </span>
                        
                      
                        <span class="card-text">
                         <span class="text-left">
                           <p class="text-card">by <span class="dark-text">Rone Mackie</span></p>
                         </span>
                         <span class="text-right">
                            <span class="like d-flex">
                             <span class="material-icons-round card-icon">
                                 thumb_up
                                 </span>
                                 <p class="text-card2">2.2k</p>
                            </span>
                            <span class="like d-flex">
                             <span class="material-icons-round card-icon">
                                 question_answer
                                 </span>
                                 <p class="text-card2">1.3k</p>
                            </span>
                         </span>
                        </span>
     
                     </div>
    
                     <div class="single-cards">
                        <span class="img-area">
                         <img src="../../../../../assets/images/card-img3.jpg" alt="" class="card-img">
                         <h2 class="text-img">Glasses and Laptop from above</h2>
     
                        </span>
                        
                      
                        <span class="card-text">
                         <span class="text-left">
                           <p class="text-card">by <span class="dark-text">Rone Mackie</span></p>
                         </span>
                         <span class="text-right">
                            <span class="like d-flex">
                             <span class="material-icons-round card-icon">
                                 thumb_up
                                 </span>
                                 <p class="text-card2">2.2k</p>
                            </span>
                            <span class="like d-flex">
                             <span class="material-icons-round card-icon">
                                 question_answer
                                 </span>
                                 <p class="text-card2">1.3k</p>
                            </span>
                         </span>
                        </span>
     
                     </div>
    
    
                     <div class="single-cards">
                        <span class="img-area">
                         <img src="../../../../../assets/images/card-img4.jpg" alt="" class="card-img">
                         <h2 class="text-img">Glasses and Laptop from above</h2>
     
                        </span>
                        
                      
                        <span class="card-text">
                         <span class="text-left">
                           <p class="text-card">by <span class="dark-text">Rone Mackie</span></p>
                         </span>
                         <span class="text-right">
                            <span class="like d-flex">
                             <span class="material-icons-round card-icon">
                                 thumb_up
                                 </span>
                                 <p class="text-card2">2.2k</p>
                            </span>
                            <span class="like d-flex">
                             <span class="material-icons-round card-icon">
                                 question_answer
                                 </span>
                                 <p class="text-card2">1.3k</p>
                            </span>
                         </span>
                        </span>
    
    
                       
                     </div>
                      <div class="single-cards">
                            <span class="img-area">
                             <img src="../../../../../assets/images/card-img5.jpg" alt="" class="card-img">
                             <h2 class="text-img">Glasses and Laptop from above</h2>
         
                            </span>
                            
                            <span class="card-text">
                             <span class="text-left">
                               <p class="text-card">by <span class="dark-text">Rone Mackie</span></p>
                             </span>
                             <span class="text-right">
                                <span class="like d-flex">
                                 <span class="material-icons-round card-icon">
                                     thumb_up
                                     </span>
                                     <p class="text-card2">2.2k</p>
                                </span>
                                <span class="like d-flex">
                                 <span class="material-icons-round card-icon">
                                     question_answer
                                     </span>
                                     <p class="text-card2">1.3k</p>
                                </span>
                             </span>
                            </span>
         
                         </div>
     
    
  
    
       
  </div>  
                </div>
  
  
  
                <div class="tab content5">
                
                  <div class="cards">
                    <div class="single-cards">
                       <span class="img-area">
                        <img src="../../../../../assets/images/card-img1.jpg" alt="" class="card-img">
                        <h2 class="text-img">Glasses and Laptop from above</h2>
    
                       </span>
                       
                     
                       <span class="card-text">
                        <span class="text-left">
                          <p class="text-card">by <span class="dark-text">Rone Mackie</span></p>
                        </span>
                        <span class="text-right">
                           <span class="like d-flex">
                            <span class="material-icons-round card-icon">
                                thumb_up
                                </span>
                                <p class="text-card2">2.2k</p>
                           </span>
                           <span class="like d-flex">
                            <span class="material-icons-round card-icon">
                                question_answer
                                </span>
                                <p class="text-card2">1.3k</p>
                           </span>
                        </span>
                       </span>
    
                    </div>
    
                    <div class="single-cards">
                        <span class="img-area">
                         <img src="../../../../../assets/images/card-img2.jpg" alt="" class="card-img">
                         <h2 class="text-img">Glasses and Laptop from above</h2>
     
                        </span>
                        
                      
                        <span class="card-text">
                         <span class="text-left">
                           <p class="text-card">by <span class="dark-text">Rone Mackie</span></p>
                         </span>
                         <span class="text-right">
                            <span class="like d-flex">
                             <span class="material-icons-round card-icon">
                                 thumb_up
                                 </span>
                                 <p class="text-card2">2.2k</p>
                            </span>
                            <span class="like d-flex">
                             <span class="material-icons-round card-icon">
                                 question_answer
                                 </span>
                                 <p class="text-card2">1.3k</p>
                            </span>
                         </span>
                        </span>
     
                     </div>
    
                     <div class="single-cards">
                        <span class="img-area">
                         <img src="../../../../../assets/images/card-img3.jpg" alt="" class="card-img">
                         <h2 class="text-img">Glasses and Laptop from above</h2>
     
                        </span>
                        
                      
                        <span class="card-text">
                         <span class="text-left">
                           <p class="text-card">by <span class="dark-text">Rone Mackie</span></p>
                         </span>
                         <span class="text-right">
                            <span class="like d-flex">
                             <span class="material-icons-round card-icon">
                                 thumb_up
                                 </span>
                                 <p class="text-card2">2.2k</p>
                            </span>
                            <span class="like d-flex">
                             <span class="material-icons-round card-icon">
                                 question_answer
                                 </span>
                                 <p class="text-card2">1.3k</p>
                            </span>
                         </span>
                        </span>
     
                     </div>
    
    
                     <div class="single-cards">
                        <span class="img-area">
                         <img src="../../../../../assets/images/card-img4.jpg" alt="" class="card-img">
                         <h2 class="text-img">Glasses and Laptop from above</h2>
     
                        </span>
                        
                      
                        <span class="card-text">
                         <span class="text-left">
                           <p class="text-card">by <span class="dark-text">Rone Mackie</span></p>
                         </span>
                         <span class="text-right">
                            <span class="like d-flex">
                             <span class="material-icons-round card-icon">
                                 thumb_up
                                 </span>
                                 <p class="text-card2">2.2k</p>
                            </span>
                            <span class="like d-flex">
                             <span class="material-icons-round card-icon">
                                 question_answer
                                 </span>
                                 <p class="text-card2">1.3k</p>
                            </span>
                         </span>
                        </span>
    
    
                       
                     </div>
   
     
    
       
  </div>  
                </div>
            </div>
  
            
          
              </section>
              <app-footer></app-footer>
</section>

            
       
       

   
