<section class="main">
  <aside class="container">
    <aside class="row">
      <aside class="pie-chart-area">

        <aside class="content">
        <aside class="piechart-card">
            <aside class="chart-header">
                <h5 class="left">Store Visits by Source</h5>
                <div class="right">
                    <h4 class="right-text">
                        Report</h4>
                        <span class="material-icons-round expand">
                            expand_more
                            </span>
                </div>

            </aside>

            <aside class="img">
                <img class="piechart"  src="../../../../../assets/images/piechart.png">
            </aside>
        </aside>
      </aside>

      </aside>
      <aside class="order-area">
        <aside class="content">
        <aside class="order-card">
          <aside class="order-header">
            <h2 class="title">Recent Orders</h2>
            <button type="button" class="btn">
              <span class="material-icons-round icon"> space_dashboard </span>
              <span class="btn-text">Generate Report</span>
            </button>
          </aside>

          <aside class="orders-listings">
            <table class="table-card">
              <tr class="headings">
                <th class="sub">Order ID</th>
                <th class="sub">Customer</th>
                <th class="sub">Product</th>
                <th class="sub">Amount</th>
                <th class="sub">Vendor</th>
                <th class="sub">Status</th>
                <th class="sub">Rating</th>
              </tr>
              <tr class="contents">
                <td class="orderid">#VZ2112</td>
                <td class="customer-details">
                  <img class="customer-img" src="../../../../../assets/images/profile1.png" />
                  <h5 class="details">Alex Smith</h5>
                </td>
                <td class="detail">Clothes</td>
                <td><span class="text-success" style="color:#78d7dd">$109.00</span></td>
                <td class="detail">Zoetic Fashion</td>
                <td><span class="soft-success">paid</span></td>
                <td>
                  <h5 class="ratings">5.0<span class="votes">(61votes)</span>
                  </h5>
                </td>
              </tr>

              <tr class="contents">
                <td class="orderid">#VZ2111</td>
                <td class="customer-details">
                  <img class="customer-img" src="../../../../../assets/images/profile2.png" />
                  <h5 class="details">Jansh Brown</h5>
                </td>
                <td class="detail">Kitchen Storage</td>
                <td><span class="text-success" style="color:#78d7dd">	$149.00</span></td>
                <td class="detail">Micro Design</td>
                <td><span class="soft-success" style="color:#f7bd5c;background-color: #fef8ed;">Pending</span></td>
                <td>
                  <h5 class="ratings">4.5<span class="votes">(61votes)</span>
                  </h5>
                </td>
              </tr>

              <tr class="contents">
                <td class="orderid">#VZ2112</td>
                <td class="customer-details">
                  <img class="customer-img" src="../../../../../assets/images/profile3.png" />
                  <h5 class="details">
                    Ayaan Bowen</h5>
                </td>
                <td class="detail">	Bike Accessories</td>
                <td><span class="text-success" style="color:#78d7dd">$215.00</span></td>
                <td class="detail">	Nesta Technologies</td>
                <td><span class="soft-success">paid</span></td>
                <td>
                  <h5 class="ratings">4.9<span class="votes">(89votes)</span>
                  </h5>
                </td>
              </tr>

              <tr class="contents">
                <td class="orderid">#VZ2108</td>
                <td class="customer-details">
                  <img class="customer-img" src="../../../../../assets/images/profile4.png" />
                  <h5 class="details">Prezy Mark</h5>
                </td>
                <td class="detail">	Furniture</td>
                <td><span class="text-success" style="color:#78d7dd">$199.00</span></td>
                <td class="detail">Syntyce Solutions</td>
                <td><span class="soft-success" style="color:#f07a7f;background-color: #fdefec;">	Unpaid</span></td>
                <td>
                  <h5 class="ratings">4.3<span class="votes">(47votes)</span>
                  </h5>
                </td>
              </tr>

              <tr class="contents">
                <td class="orderid">#VZ2107</td>

                <td class="customer-details">
                  <img class="customer-img" src="../../../../../assets/images/profile5.png" >
                  <h5 class="details">Vihan Hudda</h5>
                </td>
                <td class="detail">Bags and Wallets</td>
                <td><span class="text-success" style="color:#78d7dd">$330.00</span></td>
                <td class="detail">iTest Factory</td>
                <td><span class="soft-success">paid</span></td>
                <td>
                  <h5 class="ratings">4.7<span class="votes">(161votes)</span>
                  </h5>
                </td>
              </tr>
            </table>
          </aside>
        </aside>
      </aside>
      </aside>
    </aside>
  </aside>
</section>
