<section class="sales-section">
  <div class="container">
    <div class="row">
      <aside class="col-md-6" style="padding-right: 1rem;">
        <div class="contents" >
          <div class="header">
            <span class="header-text">
              <h2 class="header-h2">Best Selling products</h2>
            </span>
            <span class="sorted-text">
              <input type="checkbox" id="toggle-list16" class="toggle-checkbox">
          <label for="toggle-list16">
            <h3 class="header-h3">
              SORT BY : <span class="header-span">Today </span>
            </h3>
            <span class="material-icons-round icon">
              keyboard_arrow_down
            </span>
           
          </label>
             
              <div id="list16" class="list16">
                <ul class="list-hover">
                  <li class="list-items-hover"><a href="">Today</a></li>
                  <li class="list-items-hover"><a href="">Yesterday</a></li>
                  <li class="list-items-hover"><a href="">Last 7 days</a></li>
                  <li class="list-items-hover"><a href="">Last 30 days</a></li>
                  <li class="list-items-hover"><a href="">This month</a></li>
                  <li class="list-items-hover"><a href="">Last 7 days</a></li>
                </ul>
            </div>
             
            </span>
          </div>

        <div class="table-lists">
          <table>
            <tr>
              <td style=" width: 12rem;">
                <span class="table-item1">
                  <span class="product">
                    <img
                      class="product-img"
                      src="../../../../../assets/images/tshirt1.png"
                      alt=""
                    />
                  </span>
                  <ul class="product-list">
                    <li class="product-item">Branded T-shirts</li>
                    <li class="product-item2">24 Apr 2021</li>
                  </ul>
                </span>
              </td>
              <td style=" width:5rem;">
                <ul class="list" stytle="min-width: 6rem;">
                  <li class="item1">$29.00</li>
                  <li class="item2">price</li>
                </ul>
              </td>

              <td style=" width:5rem;">
                <ul class="list"  stytle="min-width: 6rem;">
                  <li class="item1">62</li>
                  <li class="item2">Orders</li>
                </ul>
              </td>

              <td style=" width:5rem;">
                <ul class="list"  stytle="min-width: 6rem;">
                  <li class="item1">510</li>
                  <li class="item2">Stock</li>
                </ul>
              </td>

              <td style=" width:5rem;">
                <ul class="list"  stytle="min-width: 6rem;">
                  <li class="item1">$1,798</li>
                  <li class="item2">Amount</li>
                </ul>
            </td>
            </tr>

            <tr>
              <td  style=" width: 12rem; ">
                <span class="table-item1">
                  <span class="product">
                    <img
                      class="product-img"
                      src="../../../../../assets/images/chair1.png"
                      alt=""
                    />
                  </span>
                  <ul class="product-list">
                    <li class="product-item">Bentwood Chair</li>
                    <li class="product-item2">19 Mar 2021</li>
                  </ul>
                </span>
              </td>

              <td style=" width:5rem;">
                <ul class="list"  stytle="min-width: 6rem;">
                  <li class="item1">$85.20</li>
                  <li class="item2">Price</li>
                </ul>
              </td>

              <td style=" width:5rem;">
                <ul class="list"  stytle="min-width: 6rem;">
                  <li class="item1">35</li>
                  <li class="item2">Orders</li>
                </ul>
              </td>

              <td style=" width:5rem;">
                <ul class="list"  stytle="min-width: 6rem;">
                  <li class="item1 no-stock">Out of stock</li>
                  <li class="item2">Stock</li>
                </ul>

              </td>

              <td style=" width:5rem;">
                <ul class="list"  stytle="min-width: 6rem;">
                  <li class="item1">$2982</li>
                  <li class="item2">Amount</li>
                </ul>
              </td>

            </tr>

            <tr >
              <td  style=" width: 12rem;">
                <span class="table-item1">
                  <span class="product">
                    <img
                      class="product-img"
                      src="../../../../../assets/images/cup.png"
                      alt=""
                    />
                  </span>
                  <ul class="product-list">
                    <li class="product-item">Borosil Paper Cup</li>
                    <li class="product-item2">01 Mar 2021</li>
                  </ul>
                </span>
              </td>

              <td style=" width:5rem;">
                <ul class="list">
                  <li class="item1">$14.00</li>
                  <li class="item2">price</li>
                </ul>
              </td>

              <td style=" width:5rem;">
                <ul class="list"  stytle="min-width: 6rem;">
                  <li class="item1">80</li>
                  <li class="item2">Orders</li>
                </ul>
              </td>

              <td style=" width:5rem;">
                <ul class="list"  stytle="min-width: 6rem;">
                  <li class="item1">749</li>
                  <li class="item2">Stock</li>
                </ul>
              </td>

              <td style=" width:5rem;">
                <ul class="list"  stytle="min-width: 6rem;">
                  <li class="item1">$1120</li>
                  <li class="item2">Amount</li>
                </ul>
              </td>

             
            </tr>

            <tr>
              <td style=" width: 12rem; ">
                <span class="table-item1">
                  <span class="product">
                    <img
                      class="product-img"
                      src="../../../../../assets/images/chair2.png"
                      alt=""
                    />
                  </span>
                  <ul class="product-list">
                    <li class="product-item">One Seater Sofa</li>
                    <li class="product-item2">11 Feb 2021</li>
                  </ul>
                </span>
              </td>
              <td style=" width:5rem;">
                <ul class="list" >
                  <li class="item1">$127.50</li>
                  <li class="item2">price</li>
                </ul>
              </td>

              <td style=" width:5rem;">
                <ul class="list" >
                  <li class="item1">56</li>
                  <li class="item2">Orders</li>
                </ul>
              </td>

              <td style=" width:5rem;">
                <ul class="list">
                  <li class="item1 no-stock">Out of stock</li>
                  <li class="item2">Stock</li>
                </ul>
              </td>

              <td style=" width:5rem;">
                <ul class="list" >
                  <li class="item1">$1,798</li>
                  <li class="item2">Amount</li>
                </ul>
              </td>

            </tr>

            <tr style="border-bottom: 1px solid #d4d4d4; ">
              <td  style=" width: 12rem;">
                <span class="table-item1">
                  <span class="product">
                    <img
                      class="product-img"
                      src="../../../../../assets/images/helmet.png"
                      alt=""
                    />
                  </span>
                  <ul class="product-list">
                    <li class="product-item">Stillbird Helmet</li>
                    <li class="product-item2">17 Jan 2021</li>
                  </ul>
                </span>
              </td>

              <td style=" width:5rem;">
                <ul class="list"  stytle="min-width: 6rem;">
                  <li class="item1">$54</li>
                  <li class="item2">price</li>
                </ul>
              </td>

              <td style=" width:5rem;">
                <ul class="list"  stytle="min-width: 6rem;">
                  <li class="item1">74</li>
                  <li class="item2">Orders</li>
                </ul>
              </td>

              <td style=" width:5rem;">
                <ul class="list"  stytle="min-width: 6rem;">
                  <li class="item1">805</li>
                  <li class="item2">Stock</li>
                </ul>
              </td>

              <td style=" width:5rem;">
                <ul class="list"  stytle="min-width: 6rem;">
                  <li class="item1">$3996</li>
                  <li class="item2">Amount</li>
                </ul>
              </td>

            </tr>
          </table>

        </div>

          <aside class="pagination-area">
            <h2 class="show">
              Showing<span>5 </span>of <span>25</span> Results
            </h2>
    
            <ul class="pagination">
              <li class="page-item">
                <span class="material-icons-round arrow"> west </span>
              </li>
              <li class="page-item">1</li>
              <li class="page-item" style="background-color: #405189; color: #fff;">2</li>
              <li class="page-item">3</li>
              <li class="page-item">
                <span class="material-icons-round"> east </span>
              </li>
            </ul>
          </aside>
        </div>
      </aside>

    <aside class="col-md-6">
        <div class="contents" style="margin-right: 1rem;">
          <div class="header">
            <span class="header-text">
              <h2 class="header-h2">Top Sellers</h2>
            </span>
            <span class="sorted-text">
              <input type="checkbox" id="toggle-list17" class="toggle-checkbox">
          <label for="toggle-list17">
            <h3 class="header-h3">
              SORT BY : <span class="header-span">Today </span>
            </h3>
            <span class="material-icons-round icon">
              keyboard_arrow_down
            </span>
           
          </label>
             
              <div id="list17" class="list16">
                <ul class="list-hover" style=" top: 68.2rem;
                right: 3.5rem;">
                  <li class="list-items-hover"><a href="">Today</a></li>
                  <li class="list-items-hover"><a href="">Yesterday</a></li>
                  <li class="list-items-hover"><a href="">Last 7 days</a></li>
                 
                </ul>
            </div>
             
            </span>
          </div>

        <div class="table-lists">
          <table>
            <tr>
              <td style="width:11rem">
                <span class="table-item1">
                  <span class="product">
                    <img
                      class="product-img"
                      src="../../../../../assets/images/img1.png"
                      alt=""
                    />
                  </span>
                  <ul class="product-list">
                    <li class="product-item">iTest Factorty</li>
                    <li class="product-item2">Oliver Tyler</li>
                  </ul>
                </span>
              </td>
              <td >
                <ul class="list" style="width:7.5rem" >
                  <li class="item1">Bags and wallets</li>
                 
                </ul>
              </td>

              <td>
                <ul class="list" style="width:3rem" >
                  <li class="item1">8547</li>
                  <li class="item2">Stock</li>
                </ul>
              </td>

              <td>
                <ul class="list" style="width:4rem" >
                  <li class="item1">$541200</li>
                  
                </ul>
              </td>

              <td>
                <ul class="list d-flex">
                  <li class="item1">32%</li>
                  <li class="item2"><span class="material-icons-round icon-graph">
                    equalizer
                    </span></li>
                </ul>
              </td>
            </tr>

            <tr>
              <td style="width:11rem">
                <span class="table-item1">
                  <span class="product">
                    <img
                      class="product-img"
                      src="../../../../../assets/images/img2.png"
                      alt=""
                    />
                  </span>
                  <ul class="product-list">
                    <li class="product-item">Digitech Galaxy</li>
                    <li class="product-item2">John Roberts</li>
                  </ul>
                </span>
              </td>

              <td>
                <ul class="list" style="width:7.5rem">
                  <li class="item1">Watches</li>
                 
                </ul>
              </td>

              <td>
                <ul class="list" style="width:3rem">
                  <li class="item1">895</li>
                  <li class="item2">Stock</li>
                </ul>
              </td>

              <td>
                <ul class="list" style="width:4rem">
                  <li class="item1">$75030</li>
                 
                </ul>
              </td>

              <td>
                <ul class="list d-flex">
                  <li class="item1">75%</li>
                  <li class="item2"><span class="material-icons-round icon-graph">
                    equalizer
                    </span></li>
                </ul>
              </td>
            </tr>

            <tr>
              <td style="width:11rem">
                <span class="table-item1">
                  <span class="product">
                    <img
                      class="product-img"
                      src="../../../../../assets/images/img3.png"
                      alt=""
                    />
                  </span>
                  <ul class="product-list">
                    <li class="product-item">Nesta Technologies</li>
                    <li class="product-item2">Harley Fuller</li>
                  </ul>
                </span>
              </td>

              <td>
                <ul class="list" style="width:7.5rem">
                  <li class="item1">Bike Accessories</li>
                </ul>
              </td>

              <td>
                <ul class="list" style="width:3rem">
                  <li class="item1">3470</li>
                  <li class="item2">Stock</li>
                </ul>
              </td>

              <td>
                <ul class="list" style="width:4rem">
                  <li class="item1">$45600</li>
                  
                </ul>
              </td>

              <td>
                <ul class="list d-flex" >
                  <li class="item1">90%</li>
                  <li class="item2"><span class="material-icons-round icon-graph">
                    equalizer
                    </span></li>
                </ul>
              </td>
            </tr>

            <tr>
              <td style="width:11rem">
                <span class="table-item1">
                  <span class="product">
                    <img
                      class="product-img"
                      src="../../../../../assets/images/img4.png"
                      alt=""
                    />
                  </span>
                  <ul class="product-list">
                    <li class="product-item">Zoetic Fashion</li>
                    <li class="product-item2">James Bowen</li>
                  </ul>
                </span>
              </td>

              <td>
                <ul class="list"  style="width:7.5rem">
                  <li class="item1">Clothes</li>
                 
                </ul>
              </td>

              <td>
                <ul class="list" style="width:3rem">
                  <li class="item1">5488</li>
                  <li class="item2">Stock</li>
                </ul>
              </td>

              <td>
                <ul class="list" style="width:4rem">
                  <li class="item1">$1,798</li>
                  <li class="item2">Amount</li>
                </ul>
              </td>

              <td>
                <ul class="list d-flex">
                  <li class="item1">40%</li>
                  <li class="item2"><span class="material-icons-round icon-graph">
                    equalizer
                    </span></li>
                </ul>
              </td>
            </tr>

            <tr style="border-bottom: 1px solid #d4d4d4;">
              <td style="width:11rem">
                <span class="table-item1">
                  <span class="product">
                    <img
                      class="product-img"
                      src="../../../../../assets/images/img5.png"
                      alt=""
                    />
                  </span>
                  <ul class="product-list">
                    <li class="product-item">Meta4Systems</li>
                    <li class="product-item2">Zoe Dennis</li>
                  </ul>
                </span>
              </td>

              <td>
                <ul class="list" style="width:7.5rem">
                  <li class="item1">Furniture</li>
                </ul>
              </td>

              <td>
                <ul class="list" style="width:3rem">
                  <li class="item1">4100</li>
                  <li class="item2">Stock</li>
                </ul>
              </td>

              <td>
                <ul class="list" style="width:4rem">
                  <li class="item1">$11260	
                  </li>
                 
                </ul>
              </td>

              <td>
                <ul class="list d-flex">
                  <li class="item1">57%</li>
                  <li class="item2"><span class="material-icons-round icon-graph">
                    equalizer
                    </span></li>
                </ul>
              </td>
            </tr>
          </table>
        </div>

          
          <aside class="pagination-area">
            <h2 class="show">
              Showing<span>5 </span>of <span>25</span> Results
            </h2>
    
            <ul class="pagination">
              <li class="page-item">
                <span class="material-icons-round arrow"> west </span>
              </li>
              <li class="page-item">1</li>
              <li class="page-item" style="background-color: #405189; color: #fff;">2</li>
              <li class="page-item">3</li>
              <li class="page-item">
                <span class="material-icons-round"> east </span>
              </li>
            </ul>
          </aside>
        </div>
      </aside> 

    
    </div>
  </div>
</section>
