@use "base" as *;

.sales-section {
  padding: 2rem;
  font-family: "Lato", sans-serif;
  background-color:#f3f3f9;
  .container {
    width: 100%;
    .row {
      display: flex;

      .col-md-6 {
        width: 50%;

        .contents {
          background-color: #ffffff;
          width: 100%;
          //  border: 2px solid;
          border-radius: 0.5rem;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

          gap: 2rem;

          .header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            // background-color: aliceblue;
            padding: 1rem;
            width: 100%;
            .header-text {
              .header-h2 {
                font-size: 1.3rem;
              }
            }
            .sorted-text {
              display: flex;
              align-items: center;

              .toggle-checkbox {
                display: none;
              }
              
              .toggle-checkbox:checked + label + .list16 {
                display: block;
              }
              
              .list16 {
                display: none;
              }
             label{
              display: flex;
              align-items: center;
              .header-h3 {
                font-size: 0.9rem;
                font-weight: 700;
                .header-span {
                  font-size: 0.9rem;
                  color: #898888;
                 
                }

              }
              .icon {
                color: #878a99;
                cursor: pointer;
                
              }
             }
         
            
              .list16{
                display: none;
                .list-hover{
                  position: absolute;
                  background-color: #FFFF;
                  list-style: none;
                  gap: 0.5rem;
                  top: 68.2rem;
                  right: 45.5rem;
                  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;   
                  .list-items-hover{
                  text-align: center;
                  padding: 0.5rem 2rem;
                  border-radius: 0.2rem;
              
                    a{
                      text-decoration: none;
                      padding-left: 0.3rem;
                      color: #515151;
                      font-size: 0.9rem;
                     
                    }
                    &:hover{
                      background-color: #e9f4f4;
                     
      
                      a{   
                      color: #4f4e4e;
                      }
                     
                    }
                    
                  }
                 
            
                
                }
               
              }

             
             
            
            }
           
          }

         .table-lists{
        
          table {
            width: 100%;
            

            tr {
              background: rgb(255, 255, 255);

              display: flex;
              justify-content: space-between;
              align-items: center;
              border-top: 1px solid #d4d4d4;
              // border: none;
              padding: 1rem;
              padding-right: 0;
              padding-left: 0.8rem;
              td {
              // background-color: #878a99;
              // width: 5rem;
          
                .table-item1 {
                  display: flex;
                  gap: 0.5rem;
                  align-items: center;
                  .product {
                    .product-img {
                      width: 1.8rem;
                    }
                  }
                  .product-list {
                    list-style-type: none;
                    .product-item {
                        color: #61575e;
                        font-size: 1rem;
                        font-weight: 700;
                        white-space: nowrap;
                    
                    }
                    .product-item2{
                        font-size: 0.9rem;
                        font-weight: 500;
                        color: #a9a9a9;
                    
                    }
                  }
                }
                .list {
                  list-style-type: none;
                  align-items: center;
                  // min-width: 6rem;
    // background: aqua;
                  .item1 {
                    font-weight: 500;
                    font-size: 1rem;
                    color: rgb(109, 109, 109);
                    white-space:nowrap;
                  }
                  .item2{
                    font-size: 0.9rem;
                    font-weight: 500;
                    color: #a9a9a9;
                  }
                  .no-stock {
                    height: 1.3rem;

                    width: 5rem;

                    text-align: center;

                    white-space: nowrap;

                    padding: 0.2rem;

                    font-size: 0.8rem;

                    color: #f27252;

                    background-color: #fdefec;

                    border-radius: 3px;
                  }
                  .icon-graph{
                  color: #0ae1e1;
                  }
                }
              }
            }
            tr:hover{
              background-color: #e9f7fa;
            }
          
          }
         }
          .pagination-area {
            display: flex;
            justify-content: space-between;
            align-items: center;
             padding: 1rem;
    
            .show {
              font-size: 1.1rem;
              font-weight: 400;
              color: #878a99;
              display:flex;
              align-items: center;
              gap: 0.2rem;
              span{
                font-weight: 600;
    
              }
            }
            .pagination {
              text-align: center;
              list-style: none;
              display: flex;
    
              .page-item {
                height: 2rem;
                width: 2rem;
                background-color: white;
                border: 1px solid lightgrey;
                font-size: 0.9rem;
                font-weight: 600;
                display: flex;
                align-items: center;
                justify-content: center;
                color: gray;
                margin-left: 0.3rem;
                border-radius: 0.3rem;

                &:hover{
                  background-color: #e2e6fb;
                }
                
              }
            
    
              .arrow {
                font-size: 1rem;
              }
            }
          }
        }
      }



    }
  }

}


@media only screen and (max-width: 1024px) and (min-width: 500px) {
  .sales-section {
    
    .container {
      width: 100%;
      .row {
       flex-direction: column;
       align-items: center;
       gap: 1rem;
  
        .col-md-6 {
          width: 100%;
  
          .contents {
          
  
            .header {
             
              .header-text {
                .header-h2 {
                 
                }
              }
              .sorted-text {
                
  
                .toggle-checkbox {
                 
                }
               
                
                .list16 {
                 
                }
               label{
              
                .header-h3 {
                  
                  .header-span {
                   
                   
                  }
  
                }
                .icon {
                 
                  
                }
               }
           
              
                .list16{
                  .list-hover{
                    .list-items-hover{
                
                      a{
                       
                      }
                     
        

                       
                      }
                      
                    }
                   
              
                  
                  }
                }
  
               
               
              
              }
             
            }
  
         .table-lists{
          table {
              
  
            tr {
              td {
              // width: 5rem;
          
                .table-item1 {
                  .product {
                    .product-img {
                    }
                  }
                  .product-list {
                    .product-item {
                    }
                    .product-item2{
                    
                    }
                  }
                }
                .list {
                  .item1 {
                  }
                  .item2{
                  }
                  .no-stock {
                  }
                  .icon-graph{
                  }
                }
              }
            }
           
          
          }
         }
            .pagination-area {
              .show {
                span{
      
                }
              }
              .pagination {
                .page-item {
                  
                }
              
      
                .arrow {
                }
              }
            }
          }
        }
  
  
  
      }
    }
  
  }

  @media only screen and (max-width: 500px) and (min-width: 320px) {
    .sales-section {
    padding: 1rem;
      .container {
        width: 100%;
        .row {
         flex-direction: column;
         align-items: center;
         gap: 1rem;
    
          .col-md-6 {
            width: 100%;
    
            .contents {
            
    
              .header {
               
                .header-text {
                  .header-h2 {
                   font-size: 0.8rem;
                  }
                }
                .sorted-text {
                  
    
                  .toggle-checkbox {
                   
                  }
                 
                  
                  .list16 {
                   
                  }
                 label{
                
                  .header-h3 {
                    font-size: 0.7rem;
                    .header-span {
                      font-size: 0.7rem;
                     
                    }
    
                  }
                  .icon {
                   
                    font-size: 0.8rem;
                  }
                 }
             
                
                  .list16{
                    .list-hover{
                      top: 132.2rem;
                      right: 2.5rem;
                  
                      .list-items-hover{
                  
                        a{
                         
                        }
                       
          
  
                         
                        }
                        
                      }
                     
                
                    
                    }
                  }
    
                 
                 
                
                }
               
              }
    
           .table-lists{
            overflow: scroll;
            table {
                
    
              tr {
                td {
                // width: 5rem;
            
                  .table-item1 {
                    .product {
                      .product-img {
                      }
                    }
                    .product-list {
                      .product-item {
                      }
                      .product-item2{
                      
                      }
                    }
                  }
                  .list {
                    .item1 {
                    }
                    .item2{
                    }
                    .no-stock {
                    }
                    .icon-graph{
                    }
                  }
                }
              }
             
            
            }
           }
              .pagination-area {
                flex-direction: column;
                .show {
                  font-size: 0.8rem;
                  span{
        
                  }
                }
                .pagination {
                  .page-item {
                    
                  }
                
        
                  .arrow {
                  }
                }
              }
            }
          }
    
    
    
        }
      }
    }

